body,
html {
  font-family: "Saira Semi Condensed", sans-serif;
  /* background-color: #121212 !important; */
  color: white;
}

.home img {
  padding-left: 8px;
  padding-right: 8px;
}

.custom-navbar-dark {
  background-color: #121212 !important;
}

.card {
  background-color: #424242 !important;
}

/* Animate the project cards on load */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bio-wrapper {
  animation: 1s ease-out 0s 1 fadeIn;
}
