.social-icon {
  width: 48px;
}
.social-icon:hover {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}
a {
  color: #5d96f5;
}
a:hover {
  text-decoration: none;
  color: #4370ba;
}

/* .glow {
  animation: glow 2s ease-in-out infinite alternate;
  text-align: center;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
} */