.info-grid {
  display: grid;
  gap: 1.5rem;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  width: min(95%, 75rem);
}

.info-grid-col p {
  max-width: 50ch;
}

.resume-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.pdf-icon {
  width: 2rem;
}