/* Work experience section */
.work {
  padding-top: 5rem;
  padding-bottom: 8em;
  padding-left: 7px;
  padding-right: 7px;
}

.work-header {
  font-size: 2rem;
  padding-top: 2rem;
}

@media screen and (min-width: 30em) {
  .info-grid {
    flex-wrap: nowrap;
  }
}

.info-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.info-grid-col p {
  max-width: 50ch;
}

.resume-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.pdf-icon {
  width: 2rem;
}

/* Laptop */
@media (min-width: 55em) {
  .work-header {
    font-size: 4rem;
  }
}